@media screen and (max-width: 479px) {
    .body{
        overflow-x: auto;
    }

    .nav-program-name{
        display: none;
        color:black;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 150%;
        justify-content: center;
        align-self: flex-end!important;
        margin-bottom: 0;
    }
    
    .nav-logo{
        max-width: 200px;
        margin-left: 0;
        margin-right: 0;
    }
    
    .navbar{
        background-color: cornflowerblue;
    }
    
    .nav-container{
        display: flex;
        flex-wrap: inherit;
        padding: 0.5rem 1rem;
        max-height: 100px;
    }
    
    .nav-login{
        margin-left: auto;
        padding: 0;
        margin-top: 0;
    }
    
    .nav-list li{
        list-style: none;
        display:inline;
        padding-left:3px;
        padding-right:3px;
    }

    .nav-list{
        margin-bottom: 0;
        padding: 0;
    }
    
    .nav-social-networks{
        max-width: 60px;
        display: none;
    }

    .btn-login{
        font-size: 25px;
        width: 100px;
        height: 50px;
        margin-top: 0;
    }
}
