@media screen and (min-width: 480px) and (max-width: 1023px){
    .body{
        overflow-x: auto;
    }

    /*Nav*/

    .nav-program-name{
        display: none;
        color:white;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 150%;
        justify-content: center;
        align-self: flex-end!important;
        margin-bottom: 0;
    }
    
    .nav-logo{
        max-width: 200px;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .navbar{
        background-color: rgb(30, 30, 30);
    }
    
    .nav-container{
        flex-wrap: inherit;
        padding: 0.5rem 1rem;
        max-height: 100px;
    }
    
    .nav-login{
        margin-left: auto;
        padding: 0;
        margin-top: 0;
    }
    
    .nav-list li{
        list-style: none;
        display:inline;
        padding-left:3px;
        padding-right:3px;
    }

    .nav-list{
        margin-bottom: 0;
    }
    
    .nav-social-networks{
        max-width: 60px;
        display: none;
    }

    .btn-login{
        font-size: 25px;
        width: 100px;
        height: 50px;
        margin-top: 0;
    }

    /*Header*/

    header{
        background-color: black;
        padding: 0!important;
    }
    
    .header-container{
        background-color: white;
        margin: 0!important;
    }
    
    .img-fluid{
        width: 100%;
    }
    
    .profile-information{
        padding-top: 40px;
        padding-left: 30px;
    }
    
    .profile-photo{
        border-radius: 200px;
        width: 250px;
        height: 250px;
        max-width: 100%;
        height: auto;
    }

    .profile-name{
        text-align: center;
        padding-top: 10px;
    }

    .profile-title{
        margin-bottom: 30px;
    }

    .profile-description{
        font-size: x-large;
    }

    /*Section*/

    .education{
        background-color: gray;
        padding: 50px 40px 0 40px;
    }
}
