.header-program-name{
    color:black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 125%;
    padding-top: 1.75em;
}

.header-logo{
    width: 15em;
    height: 5.25em;
    padding-top: 0.5em;
}

.header-container{
    background-color: cornflowerblue;
    display: flex;
    text-align: center;
    margin-bottom: 0.5em;
}

.header-login{
    margin-left: auto;
    padding-top: 0.5em;
}

.header-list li{
    list-style: none;
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

.header-social-networks{
    width: 4em;
    height: 4.5em;
    padding-top: 0.25em;
}