.nav-program-name{
    color:black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    justify-content: center;
    margin-top: 8px;
    padding-top: 36px;
}

.nav-logo{
    font-size: var(--bs-navbar-brand-font-size);
}

.navbar{
    background-color: cornflowerblue;
    justify-content: left !important;
    overflow: auto;
}

.nav-container{
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: inherit;
}

.nav-login{
    margin-left: auto;
    padding-top: 2.5em;
}

.nav-list li{
    list-style: none;
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

.nav-social-networks{
    display: none;
    max-width: 30px;
    max-height: 30px;
}