.nav-program-name{
    color:black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 125%;
    justify-content: center;
    align-self: flex-end!important;
}

.nav-logo{
    max-width: 40%;
    height: auto;
}

.navbar{
    background-color: cornflowerblue;
}

.nav-container{
    display: flex;
    flex-wrap: inherit;
    padding: 0.5rem 1rem;
}

.nav-login{
    margin-left: auto;
    padding-top: 1.5em;
}

.nav-list li{
    list-style: none;
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

.nav-social-networks{
    max-width: 70px;
    min-height: 50px;
}