<div style="position: relative; height: 650px;" class="flex-cent">
    
    <div class="p-2">
    

        <h1>User</h1>

        <div>

            <form>

                <div>

                    <input class="form-control" type="email" name="email" placeholder="Email">

                </div>

                <br/>

                <div>

                    <input class="form-control" type="password" name="password" placeholder="Password">

                </div>

                <br/>

                <div>

                    <button class="btn btn-primary" type="submit">Login</button>

                </div>

            </form>

        </div>

    </div> 

</div>