<div class="login bg-dark">

    <h1 class="text-light">User</h1>

    <br/>

    <div>

        <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">

            <div>

                <input class="form-control" type="email" formControlName="email" name="email" placeholder="Email">

            </div>

            <br/>

            <div *ngIf="Mail?.errors  && Mail?.touched">    
                <p *ngIf="Mail?.hasError('required')" class="error">
                    El email es requerido.
                </p>
                <p *ngIf="Mail?.hasError('email')" class="error">
                    El formato del email debe ser válido.
                </p>
            </div>

            <div>

                <input class="form-control" type="password" name="password" placeholder="Password">

            </div>

            <br/>

            <div>

                <button class="form-control btn btn-primary" type="submit">Login</button>

            </div>

        </form>

    </div>

</div>